<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="">
                        THE SNIPER SOFT
                    </a>
                </li>
                <li>
                    <a href="">
                        KUPER BEAT
                    </a>
                </li>
                <li>
                    <a href="">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, THE SNIPER SOFT
            <a href="" target="_blank">Creador</a> for Mi Hogar Bolivia
        </div>
    </div>
</footer>
