<body>
  
<!--
<div class="well">


    <br>      
<mat-chip-list>
    
    <mat-chip color="primary" [selected]="true" style="background-color: #5D6D7E" [routerLink]="[ '/mihogar/empleador' ]" selected>Modo Empleador</mat-chip>
    
  </mat-chip-list>
  <br> 
<img class="responsive" src="../../../../../assets/img/portada.jpg" alt="">
<br>
<br><br>



<div class="container-fluid">
<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Trabajo que desea buscar" value="">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Modalidad" value="">
      </mat-form-field>

    
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Ciudad" value="">
        </mat-form-field>

  
    <mat-chip-list>
    
        <mat-chip color="primary" [selected]="true" style="background-color: #6EE3E7  " [routerLink]="[]" selected>Modo Empleador</mat-chip>
        
      </mat-chip-list>


  </form>
</div>
  
</div>
-->
<div class="container-fluid">
    <div class="row">
        
        <div style="background: red;" class="col-md-9">
                <div class="well">
                <img class="responsive" src="../../../../../assets/img/portada.jpg" alt="">

        </div>
        </div>

        <div style="background: hotpink;" class="col-md-3 d-none d-md-block">
            <h4>PUBLICIDAD</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem ullam quae aliquid nobis numquam, ex beatae magni quos inventore recusandae deleniti, nisi, laboriosam perspiciatis? Ipsa similique delectus odit eligendi id.</p>
        </div>

    </div>




    <table class="table table-striped ">
            <thead>
             <tr>
               <th>Place Name</th>
               <th>[ Lat, Lng ]</th>
               <th></th>
               <th></th>
             </tr>
            </thead>
          
           </table>

           

      
</div>











</body>